.main {
    position: relative;
    background-color: #f4f5f8;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);

  }
  
  .main .div-left-30{
    position: absolute;
    right: 10px;
    height: calc(100% - 10px);
    width: 30px;
    background-color: #f4f5f8;
    z-index: 100;
  }  

  .main-title {
    padding: 24px 51px 24px 0; 
    position: absolute;
    top: 0;
    height: 100px;
    z-index: 1;
    align-items: center;
    width: calc(100% - 10px);
  }
  
  .main-title-content {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .main .title {
    font-size: 24px;
    font-weight: 700;
    display: inline;
    font-family: 'notosans-bold';
  }
  
  .main-title-btn{
    display: inline-flex;
    float: right;
    align-items: center;
    justify-content: center;
  }
  
  .main-title-btn button span {
    font-family: 'notosans-semibold';
    font-size: 13px;
    font-weight: 600;
  }
  
  .main-title-btn .btn-more{
    width: 103px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #8d9096;
    font-weight: 600;
  }
  
  .main-title-btn .btn-more:hover{
    background-color: #d2d3d6;
    cursor: pointer;
  }
  
  .main-title-btn .btn-more:active{
    background-color: #bbbcbc;
  }
  
  .main-title-btn .btn-add{
    background-color: #2ca01c;
    margin-left: 12px;
    height: 36px;
    padding: 0 20px;
    border-radius: 4px;
    color: #ffffff;
  }
  
  .main-title-btn .div-img-drop-down{
    border-left:1px solid #fff;
    padding-right:8px;
    padding-top:2px;
  }

  .main-title-btn .btn-add:hover{
    background-color: #35bf22;
    cursor: pointer;
  }
  
  .main-title-btn .btn-excel{
    width: 46px;
    height: 36px;
    border-radius: 0px 30px 30px 0px;
    background-color: #2ca01c;
  }
  
  .main-title-btn .btn-excel:hover{
    background-color: #35bf22;
    cursor: pointer;
  }

  .layout{
    padding: 100px 30px 0 0;
    overflow: scroll;
    scroll-behavior: smooth;
    position: relative;
    flex: 1;
    min-height: 0;
    flex-direction: column;
  }
  
  .control{
    width: 100%;
    height: 72px;
    padding: 17px 16px 17px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .excution{
    width: 183px;
    height: 36px;
    border: 1px solid #8d9096;
    line-height: 13px;
    font-weight: 600;
    opacity: 0.5;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .excution span{
    margin-right: 10px;

  }
  
  .right-control{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-name-id{
    display: inline-flex;
    position: relative;
    border: 1px solid #babec5;
  }
  
  .search-name-id input{
    width: 10vw;
    height: 32px;
    outline: none;
    padding: 6px 10px;
  }

  .search-name-id:focus-within{
    border: 1px solid #2ca01c;
  }
  
  .search-name-id img{
    position: absolute;
    right: 4px;
    top: 4px;
  }
  
  .three-btn{
    display: inline-flex;
    height: 24px;
  }
  
  .three-btn img{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    cursor: pointer;
  }
  
  .three-btn img:hover{
    transform: scale(1.2);  
  }

  .grid{
    background: #fff;
    padding: 16px 30px 20px 16px;
    position: relative;
    z-index: 2;
    left: 0;
    display: flex;
    justify-content: space-between;
    position: sticky !important;
  }

  .div-flex{
    display: flex!important;
  }

  .tool-tip{
    width: 120px;
    height: 62px;
    position: absolute;
    top: 0px;
    border: 1px solid #babec5;
    z-index: 100;
    right: 0px;
  }
  
  .tool-tip .option{
    height: 30px;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .tool-tip .option:hover{
    background-color: #e8e9ec;
    color: #08bf1e;
  }

  .wrap-loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .loading{
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .wrap-table {
    min-width: 100%;
  }
  
  .ms-table {
    overflow: unset;
    max-height: none;
    min-width: calc(100% + 30px);
  }
  
  .ms-table table{
    max-width: 100%;
    border-spacing: 0;
  }
  
  .ms-table th{
    position: sticky;
    top: -100px ;
    z-index: 5;
    max-width: 100%;
    background-color: #eceef1;
    padding: 5px 10px 3px 10px;
    font-weight: 700;
    font-size: 12px;
    max-height: 34px; 
  }
  
  .ms-table thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }
  
  .ms-table tr {
    border: 1px dotted black;
  }
  
  .ms-table tr:hover td{
    background-color: #f3f8f8;
    cursor: pointer;
  }
  
  .ms-table tbody tr,td{
    z-index: 2 ;
    position: relative;
  }
  
  .ms-table th,td {
    font-size: 13px;
    border-bottom: 1px dotted #c7c7c7;
    border-right: 1px dotted #c7c7c7;
  }
  
  .ms-table td{
    height: 47px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .ms-table input {
    width: 18px;
    height: 18px;
  }
  
   .ms-table .border-left{
    border: 0;
    border-left: 1px dotted #c7c7c7;
    border-bottom: 1px dotted #c7c7c7;
  } 
  
  .ms-table .col-check {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 16px;
    border: 0px;
    border-bottom: 1px dotted #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    z-index: 5 !important;
  }
  
  .ms-table .col-edit{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ms-table .col-edit span{
    margin-right: 7px;
    font-size: 13px;
    font-family: 'notosans-semibold';
    color: rgb(0, 117, 192);
  }
  
  .ms-table .col-edit .div-more-icon{
    padding: 0px 5px;
    height: 16px;
    border: 1px solid transparent;
  }
  
  .ms-table .col-edit .div-more-icon:hover{
    border: 1px solid rgb(0, 117, 192);
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f4f5f8; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #b8bcc3; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 109, 109); 
  }
  
  .wrap-table .wrap-footer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    min-height: 46px;
    width: 2233px;
    z-index: 10;
    background-color: #fff;
  }
  
  .wrap-table .wrap-footer select, option{
    width: 200px;
    height: 32px;
    border: 1px solid #8d9096;
    -webkit-appearance: button;
    outline: none;
  }
  
  .wrap-table .wrap-footer .front, .behind, .page-number{
    cursor: pointer;
    margin-left: 15px;
  }
  
  .wrap-table .wrap-footer .page-number {  
    width: 21px;
    height: 21px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrap-table .selected {
    background-color: #f3f8f8 !important;
  }
  
  .wrap-table .selectedPage {
    border: 1px solid #e0e0e0;
  }
  
  .wrap-table .controlpage:hover{
    transform: scale(1.1);
  }
  
  .check-all{
    z-index: 7!important;
    position: sticky;
    left: 16;
    top: 0;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
  }
  
  .out-right{
    min-width: 30px;
    position: sticky;
    border: none !important;
    width: 30px;
    max-width: 30px;
    z-index: 25;
    padding: 0;
  }
  
  .footer-content{
    width: 100% !important;
    justify-content: space-between!important;
    min-height: 46px;
    display: flex;
    align-items: center;
  }
  
  .count-record{
    position: sticky;
    left: 20px;
    white-space: nowrap;
    min-width: 10px;
    display: flex;
  }
  
  .right-footer{
    position: sticky;
    right: 60px;
    display: flex;
    min-height: 100%;
    align-items: center;
  }
  
  .right-footer *{
    display: inline;
  }
  
  .center{
    justify-content: center;
    display: flex;
  }
  
  .bgc-white{
    background-color: #fff !important;
  }
  
  .sticky{
    position: sticky !important;
  }
  
  .align-left {
    text-align: left;
  }
  
  .out-left-white{
    padding: 0px !important;
    margin: 0px !important;
    position: sticky;
    left: 0;
    border: 0 !important;
    z-index: 25!important;
    max-width: 16px;
    min-width: 16px;
    width: 16px;
  }
  
  .footer-content .div-select-count{
    height: 100%;
  }
  
  .footer-content .div-select-count .v-text-field.v-text-field--solo .v-input__control {
    min-height: 32px !important;
    padding: 0;
  }
  
  .footer-content .div-select-count .v-list-item {
    min-height: 32px !important;
    padding: 0 14px 0 10px !important;
    font-size: 13px !important;
  }
  
  .footer-content .div-select-count .v-list-item__title {
    font-size: 13px !important;
  }
  
  .footer-content .div-select-count .v-input{
    overflow: hidden;
  }
  
  .footer-content .div-select-count .v-input__icon {
    height: 32px !important;
    min-width: 20px !important;
    width: 20px !important;
  }
  
  .footer-content .div-select-count #input-9{
    max-width: 10px !important; 
  }
  
  .footer-content .div-select-count .v-select__selection {
    max-width: 100% !important;
  }
  
  .footer-content .v-select.v-text-field input{
    max-width: 0px !important;
  }
  
   .wrap-paging .theme--light.v-pagination .v-pagination__item--active{
    color: #000000 !important;
    border: 1px solid #babec5 !important;
  }
  
  .wrap-paging{
    height: 21px;
    width: auto;
  }
  
  .wrap-paging ul.v-pagination.theme--light{
    max-height: 100%;
  }
  
  .wrap-paging .v-pagination > li{
    border: none!important;
  }
  
  .wrap-paging button{
    height: 20px;
    padding: 0 !important;
    min-width: fit-content;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrap-paging .v-pagination__item{
    min-width: 22px !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 13px !important;
  }
  
  .wrap-paging .v-pagination__more {
    margin: 0 !important;
    height: 22px !important;
    width: 22px !important;
  } 
  
  .wrap-paging .v-pagination__navigation{
    width: 21px !important;
    height: 21px !important;
    box-shadow: none!important;
    margin: 0 !important;
  } 
  
  .wrap-paging .v-icon.v-icon{
    font-size: 14px !important;
    color: #000 !important;
    
  }
  .wrap-paging .mdi-chevron-left::before{
    content: "Trước";
    font-family: "notosans-regular" !important;
    font-size: 13px;
  }
  .wrap-paging .mdi-chevron-right::before {
    content: "Sau";
    font-family: "notosans-regular" !important;
    font-size: 13px;
  }
  
  .wrap-paging ul li:first-child{
    margin-right: 13px;
  }
  
  .wrap-paging ul li:last-child{
    margin-left: 13px;
  }
  
  .div-select-count .v-text-field.v-text-field--solo .v-input__append-inner, 
  .v-text-field.v-text-field--solo .v-input__prepend-inner{
    margin-top: -2px !important;
  }
  
  .div-select-count .v-select__selection--comma{
    margin: 4px 12px 7px 0px !important;
  }